language: generic 
sudo: required
services:
  -docker

before_install:
  - docker build -t andreitarlapan/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true tarlapan/docker-react npm run test